{% extends "app/base.html" %}

{% block additional-css %}
div#content {margin:120px auto 80px auto;width:800px;max-width:90%;}
div.company {margin:32px auto;padding:16px;background:white;box-shadow:var(--main-accent-color) 0px 0px 16px -8px;}
div.always-showing {display:flex;align-items:center;}
div.always-showing .name {align-self:flex-start;font-size:1.25em;font-weight:bold;letter-spacing:-0.05em;color:var(--main-accent-color)}
div.always-showing .description {align-self:center;margin-left:16px;margin-right:16px}
div.always-showing .expand-button {align-self:flex-start;margin-left:auto;width:100px}
div.expandable {margin-top:16px;display:flex;flex-wrap:wrap;align-items:center;}
div.expandable .info {align-self:flex-start;width:360px}
div.expandable .info .label {font-weight:bold;}
div.expandable svg.performance {align-self:flex-start;margin-left:auto;width:360px}
path.bars {stroke:var(--main-accent-color);}
path.grid {stroke:#cccccc;stroke-width:0.5}
text.axis {font-size:8px;fill:#7f7f7f;}
text.performance {font-size:12px;fill:#00dd00;}
[hidden] {display: none !important;}
{% endblock %}

{% block content %}
<div id="content">
{% if company_list %}
{% for company in company_list %}
    <div class="company">
        <div class="always-showing">
            <span class="name">{{ company.name }}</span>
            <span class="description">{{ company.description }}</span>
            <button class="expand-button" type="button">Expand</button>
        </div>
        <div class="expandable" hidden="true">
            <div class="info">
                <p><span class="label">Revenue drive: </span></p>
                <ul>
                    {% for bullet_point in company.revenue_drive_list %}<li>{{ bullet_point }}</li>{% endfor %}
                </ul>
                <p><span class="label">Future endeavours: </span></p>
                <ul>
                    {% for bullet_point in company.future_endeavours_list %}<li>{{ bullet_point }}</li>{% endfor %}
                </ul>
            </div>
            <svg class="performance" viewBox="0 0 272 190">
                <path class="bars" d="M {% for point in company.price_history_points %}{% if point > 0 %}{{ forloop.counter0|add:"10" }},{{ point }} {% endif %}{% endfor %}" fill="transparent"/>
                <path class="grid" d="M 10,10 H 262"/><path class="grid" d="M 10,50 H 262"/><path class="grid" d="M 10,90 H 262"/><path class="grid" d="M 10,130 H 262"/><path class="grid" d="M 10,170 H 262"/>
                <path class="grid" d="M 10,10 V 170"/><path class="grid" d="M 60,10 V 170"/><path class="grid" d="M 110,10 V 170"/><path class="grid" d="M 160,10 V 170"/><path class="grid" d="M 211,10 V 170"/><path class="grid" d="M 262,10 V 170"/>
                <text class="axis" x="10" y="180">5 years ago</text><text class="axis" x="242" y="180">now</text>
                <text class="performance" x="220" y="30">+{{ company.five_year_performance }}%</text>
            </svg>
        </div>
    </div>
{% endfor %}
{% else %}
    <p>No companies are available.</p>
{% endif %}
</div>
<script type='text/javascript'>
    const expandButtons = document.querySelectorAll('.expand-button');
    expandButtons.forEach(button => button.addEventListener('click', expand, false));

    function expand(e) {
        this.parentElement.parentElement.querySelector('.expandable').hidden = false;
        this.removeEventListener('click', expand, false);
        this.addEventListener('click', collapse, false);
        this.innerHTML = 'Collapse';
    }

    function collapse(e) {
        this.parentElement.parentElement.querySelector('.expandable').hidden = true;
        this.removeEventListener('click', collapse, false);
        this.addEventListener('click', expand, false);
        this.innerHTML = 'Expand';
    }
</script>
{% endblock %}
