{% extends "app/base.html" %}

{% block additional-css %}
h1 {margin:0 0 32px 0;padding-top:48px;font-size:96px;color:white;font-weigth:bold;letter-spacing:-0.05em;
  text-decoration:underline #FFFC80;}
h2 {margin:0;font-size:72px;color:white;font-weigth:bold;letter-spacing:-0.05em;
  text-decoration:underline solid #FFFC80;}
p.h1-caption {margin:0 auto;width:800px;max-width:90%;font-size:24px;color:white;letter-spacing:-0.05em;}
p.h2-caption {margin-left:64px;font-size:24px;color:white;letter-spacing:-0.05em;}
div.placard {padding:0 16px 96px 16px;}
div.placard:first-of-type {margin-top:80px;text-align:center;}
div.placard-content {margin:0 96px 0 96px;}
div.odd {background:linear-gradient(to bottom right,#240033,#030033);}
div.even {background:linear-gradient(to bottom left,#030033,#240033);}
{% endblock %}

{% block content %}
<div class="placard odd">
  <h1>Europe has a lot to offer</h1>
  <p class="h1-caption">
    Index funds are a fine investment, but if you're like us,<br>
    you want to take more personal control<br>
    and invest in specific companies you have great hopes for.<br>
    We're here to help you find them.
  </p>
</div>
<div class="placard even">
  <div class="placard-content">
    <h2>Our Database</h2>
    <p class="h2-caption">
      We monitor European stock exchanges<br>
      and list the companies that meet our criteria<br>
      in our freely accessible database.
    </p>
  </div>
</div>
<div class="placard odd">
  <div class="placard-content">
    <h2>The Gem Report</h2>
    <p class="h2-caption">
      For more in-depth information on the companies in our database<br>
      we regularly release articles with additional analysis in our Gem Report.
    </p>
  </div>
</div>
<div class="placard even">
  <div class="placard-content">
    <h2>User Ranking</h2>
    <p class="h2-caption">
      Here's where you get to participate.<br>
      Register a free account, build your own virtual stock portfolio of companies from our database<br>
      and see how it performs over time compared to other users' portfolios.
    </p>
  </div>
</div>
{% endblock %}
