{% extends "app/base.html" %}

{% block additional-css %}
h1 {margin:0 0 32px 0;padding:48px 8px 0 8px;font-size:96px;color:white;font-weight:bold;letter-spacing:-0.05em;
  text-decoration:underline #FFFC80;}
h2 {margin:0;font-size:72px;color:white;font-weight:bold;letter-spacing:-0.05em;
  text-decoration:underline solid #FFFC80;}
p.h1-caption {margin:0 auto;width:800px;max-width:90%;font-size:24px;color:white;letter-spacing:-0.05em;}
p.h2-caption {margin-left:32px;font-size:24px;color:white;letter-spacing:-0.05em;}
div.odd {background:linear-gradient(to bottom right,#240033,#030033,#240033);}
div.even {background:linear-gradient(to bottom left,#240033,#030033,#240033);}
div.placard {box-sizing:border-box;width:100%;padding:0 16px 96px 16px;}
div.placard:first-of-type {margin-top:80px;padding:64px 0 160px 0;text-align:center;}
div.placard-content {margin:0 auto;width:1000px;max-width:90%;}
div.placard-content div#newsletter-signup {box-sizing:border-box;max-width:90%;margin-left:32px;}
div.placard-content input {}
div.placard-content input.email
  {height:64px;border-radius:32px 0 0 32px;border-style:none;outline:none;
  padding:0 32px 0 32px;font-size:24px;}
div.placard-content button#button-newsletter-signup
  {margin-left:-8px;height:64px;border-radius:0 32px 32px 0;border-style:none;
  background:#FFFC80;padding:0 32px 0 16px;text-align:left;
  font-size:24px;color:black;}
div.placard-content button#button-newsletter-signup:hover
  {}
{% endblock %}

{% block content %}
<div class="placard odd">
  <h1>Europe has a lot to offer</h1>
  <p class="h1-caption">
    Index funds are a fine investment, but if you're like us,<br>
    you want to take more personal control<br>
    and invest in specific companies you have great hopes for.<br>
    We're here to help you find them.
  </p>
</div>
<div class="placard even">
  <div class="placard-content">
    <h2>Our Database</h2>
    <p class="h2-caption">
      We monitor European stock exchanges and add companies
      that meet our criteria to our freely accessible database.
      Taking inspiration from the American Nasdaq stock exchange,
      our database is focused on rising companies with further growth potential.
    </p>
  </div>
</div>
<div class="placard odd">
  <div class="placard-content">
    <h2>The Gem Report</h2>
    <p class="h2-caption">
      For more in-depth information on the companies in our database
      we regularly release articles with additional analysis in our Gem Report.<br>
      Sign up for our monthly newsletter to get our updates delivered straight to your inbox:
    </p>
    <div id="newsletter-signup">
      <input class="email" type="email" size="20" placeholder="Your email address">
      <button id="button-newsletter-signup" type="button">Sign up</button>
    </div>
  </div>
</div>
<div class="placard even">
  <div class="placard-content">
    <h2>Portfolio Ranking</h2>
    <p class="h2-caption">
      This is where you get to participate.<br>
      Register a free account, build your own virtual stock portfolio of companies from our database
      and see how it performs over time compared to other people's portfolios.
    </p>
  </div>
</div>
{% endblock %}
